input, div#result, .ui-btn {
    font-size: 3em;
}

#result {
    color: red;
}

#showPassword {
    position: absolute;
    right: 5px;
    top: 20px;
    cursor: pointer;
    font-size: xx-large;
}

#divPass {
    position: relative;
}

